@{

    Stories.Models.Story myStories = new Stories.Models.Story();
    myStories = (Stories.Models.Story)ViewData["myStory"];
}

@{
    ViewBag.Title = "SearchResults";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- JavaScript -->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

<!-- CSS -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />
<!-- Semantic UI theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css" />
<!-- Bootstrap theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css" />



@using (Html.BeginForm("Home", "Test", FormMethod.Post))
{



<table style="width: 55%">
    <tr>
        <td>
            @Html.Label("Title")
        </td>

    </tr>
    <tr>

        <td>
            @Html.DropDownList("jakataMaster", (IEnumerable<SelectListItem>)ViewData["jakataMasterData"], new { @disabled = "" })
        </td>

    </tr>
</table>

<table style="width: 55%">
    <tr>
        <td>
            @Html.Label("Animal Type")
        </td>

    </tr>
    <tr>

        <td>

            @for (int i = 0; i < myStories.animalCombo.items.Count; i++)
            {
        <tr>
            <td>
                @Html.CheckBoxFor(m => myStories.animalCombo.items[i].Selected, new { @disabled = "" })



                @Html.DisplayFor(m => myStories.animalCombo.items[i].Text, new { @class = "animalCombo" })
                @Html.HiddenFor(m => myStories.animalCombo.items[i].Value, new { @class = "animalCombo" })

                @Html.HiddenFor(m => myStories.animalCombo.items[i].Text, new { @class = "animalCombo" })



            </td>
            <td>
            </td>
        </tr>


            }


        </table>




        <table style="width: 55%">
            <tr>
                <td>
                    @Html.Label("Moral Type")
                </td>

            </tr>
            <tr>

                <td>
                    @Html.DropDownList("moralType1", (IEnumerable<SelectListItem>)ViewData["moralTypeData"], new { @disabled = "" })
                </td>

            </tr>
        </table>

        <p>
            @{
                int pageNum = (int)ViewData["total"];
                var current = ViewData["currentPage"];
                int currentPage = Convert.ToInt16(current);
                var searchResults = Convert.ToString(ViewData["searchResults"]);

                //int currentPage = (int)ViewData["currentPage"];

                if (pageNum <= 0)
                {
                    <input type="button" hidden="true" id="Previous" onclick="previous()" disabled="true" value="Previous" />
                }
                else
                {
                    <input type="button" id="Previous" onclick="previous()" disabled="false" value="Previous" />
                }

                if (pageNum > 1)
                {
                    <input type="button" id="Next" onclick="next()" value="Next" />

                }

              
                <input type="hidden" id="numberOfPages" name="numberOfPages" value="@pageNum" />
                <input type="hidden" id="currentPage" name="currentPage" value="@currentPage" />
                <input type="hidden" id="searchResults" name="searchResults" value="@searchResults" />

            }


        </p>
                }

        <script>

            function next() {

                if (parseInt(document.getElementById('currentPage').value) == parseInt(document.getElementById('numberOfPages').value)) {

                    alertify.success("End of search");
                    $('#Previous').attr("disabled", false);
                    $('#Next').attr("disabled", true);
                    return;
                }
                else {

                    $('#Next').attr("disabled", false);
                    $('#Previous').attr("disabled", false);
                    var x = parseInt(document.getElementById('currentPage').value) + 1
                    document.getElementById('currentPage').value = x;
                    var searchResults = document.getElementById('searchResults').value;


                    var resultJSON = {
                        searchResults: searchResults, page: x,
                    };

                    $.ajax({
                        type: 'GET',
                        url: "http://localhost:5199//Home/SearchResults",
                        //url: "//Home/SearchResults",
                        data: resultJSON,
                        //dataType: "json",
                        success: function (data, status, xhr) {

                            alertify.success("Story next");
                            if (data == "") {
                                alertify.success("No records found");
                                return;
                            }
                            //window.location.reload();
                            //location.href = location.href;
                            //window.location.href = "http://localhost:5199/Home/Test?searchResults=" + data + "&page="+page;

                            //$("body").html(response);
                            console.log(data[0]);
                            return;


                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alertify.success("error");
                            //alert(thrownError);
                        }

                    });


                    return;
                }

            }

            function previous() {
                //alert("ddd");
                $('#Next').attr("disabled", false);

                if (parseInt(document.getElementById('currentPage').value) == 0) {

                    alertify.success("Beginning  of search");
                    $('#Previous').attr("disabled", true);
                    return;
                }
                else {

                    $('#Previous').attr("disabled", false);
                    var x = parseInt(document.getElementById('currentPage').value) - 1
                    document.getElementById('currentPage').value = x;
                    var searchResults = document.getElementById('searchResults').value;
                    var resultJSON = {
                        searchResults: searchResults, page: x,
                    };

                    $.ajax({
                        type: 'GET',
                        url: "http://localhost:5199//Home/Test",
                        //url: "//Home/SearchResults",
                        data: resultJSON,
                        //dataType: "json",
                        success: function (data, status, xhr) {

                            alertify.success("Story previous");
                            if (data == "") {
                                alertify.success("No records found");
                                return;
                            }
                            //window.location.reload();
                            //location.href = location.href;
                            //$("body").html(response);

                            console.log(data[0]);
                            return;


                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alertify.success("error");
                        }

                    });


                    return;
                }

            }

            function PDF() {

                alertify.success("Creating your custum PDF. This will take a few minutes");
                var searchResults = document.getElementById('searchResults').value;

                window.location.replace("/MyFavorties/PdfResultsView?all=" + searchResults);
            }

        </script>


