
@model Stories.Factory.coupon

@{
    ViewBag.Title = "DishUpdate";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>

<h2>Master Slide Update</h2>

@try
{
    int ID = (int)ViewData["ID"];
    string connect = System.Configuration.ConfigurationManager.ConnectionStrings["LocalURI"].ConnectionString;
    string filename = connect + "images/" + Model.PictureCoupon;

    //string filename = "https://twoboots.today/images/" + Model.PictureCoupon;
    string title = Model.TitleCoupon;
    string startDate = Model.startDate;
    string endDate = Model.endDate;

    var Mode = Session["Mode"] as string;

    if (Mode == "save")
    {
        <h2 style="color: red;">Record is saved</h2>

    }

    string mode = "";
    Session["Mode"] = mode;





    <div class="row">

        <div class="col-md-6">

            <h2>@title</h2> <br />
            <img src="@filename" width="300" height="300" />





        </div>

        <div class="col-md-6">

            @using (Html.BeginForm("CouponUpdateFinal", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {


                <table style="width: 55%">

                    <tr>
                        <td>
                            <h2>Edit Your PostFile</h2>
                        </td>

                    </tr>

                    <tr>
                        <td>
                            @Html.Label("Title")
                        </td>

                    </tr>
                    <tr>

                        <td>
                            @Html.TextBoxFor(model => model.TitleCoupon, new { id = "TitleCoupon" })

                        </td>
                    </tr>


                    <tr>
                        <td>
                            @Html.Label("URL for picture when clicked")
                        </td>

                    </tr>
                    <tr>

                        <td>
                            @Html.TextBoxFor(model => model.urlCoupon, new { id = "url" })

                        </td>
                    </tr>

                    <tr>
                        <td>
                            @Html.Label("Picture Name")
                        </td>

                    </tr>
                    <tr>

                        <td>
                            @Html.TextBoxFor(model => model.PictureCoupon, new { id = "picture" })

                        </td>
                    </tr>

                    <tr>
                        <td>
                            @Html.Label("Day of week for coupon")
                        </td>

                    </tr>
                    <tr>

                        <td>
                            @Html.DropDownList("daysOfWeek", (IEnumerable<SelectListItem>)ViewData["daysOfWeek"])
                        </td>
                    </tr>

                    <tr>
                        <td>
                            @Html.Label("Name of Dish Title for Coupon")
                        </td>

                    </tr>

                    <tr>

                        <td>
                            @Html.DropDownList("dishID", (IEnumerable<SelectListItem>)ViewData["newdishData"])
                        </td>
                    </tr>

                    <tr>
                        <td>

                            Coupon Start Date
                            <div class="input-group date" id="StartDate" data-date-format="mm/dd/yyyy" data-provide="datepicker-inline">
                                <input type="text" size="10" maxlength="9" value="@Model.startDate" class="form-control">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </td>
                    </tr>


                    <tr>
                        <td>

                            Coupon Stop Date
                            <div class="input-group date" id="StopDate" data-date-format="mm/dd/yyyy" data-provide="datepicker-inline">
                                <input type="text" size="10" maxlength="9" value="@Model.endDate" class="form-control">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>



                        </td>
                    </tr>




                </table>

                <input type="submit" id="SaveChanges" value="Publish" />

                <input type="hidden" id="ID" name="ID" value="@Model.id" />
                <input type="hidden" id="mode" name="mode" value="save" />
                <input type="hidden" id="StopDate1" name="StopDate1" />
                <input type="hidden" id="StartDate1" name="StartDate1" />
                <input type="hidden" id="idDayOfWeek" name="idDayOfWeek" />




            }


        </div>



    </div>

}
catch (Exception ex)
{
}

<script type="text/javascript">
    $(function () {
        $("#daysOfWeek").change(function () {
            var selectedText = $(this).find("option:selected").text();
            var selectedValue = $(this).val();
            document.getElementById('idDayOfWeek').value = selectedValue;


        });
    });
</script>

<script type="text/javascript">

    $("#StartDate").datepicker({ format: "mm/dd/yyyy" });
    $("#EndDate").datepicker({ format: "mm/dd/yyyy" });


</script>


<script type="text/javascript">
    $("#dateOfBirth").on("change.datetimepicker", ({ date }) => {
        var dob = $("#dateOfBirth").find("input").val();
        //alert(dob);
        console.log(dob);
    })

    $("#StartDate").on("change.datetimepicker", ({ date }) => {
        var dob = $("#StartDate").find("input").val();
        document.getElementById("StartDate1").value = dob;
        //alert(dob);
        console.log(dob);
    })

    $("#StopDate").on("change.datetimepicker", ({ date }) => {
        var dob = $("#StopDate").find("input").val();
        document.getElementById("StopDate1").value = dob;
        //alert(dob);
        console.log(dob);
    })
</script>









